<?xml version="1.0" encoding="UTF-8"?>
<!-- 실행할 쿼리문들 정의 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BoardMapper">
  <select id="selectBoardList" resultType="com.yedam.vo.BoardVO">
    select * from tbl_board order by 1
  </select>
  
  <select id="selectCount" parameterType="Search" resultType="int">
  	SELECT COUNT(board_no)
  	FROM tbl_board
  	<choose>
	   <when test="searchCondition !=null and searchCondition == 'T'.toString() ">
	   WHERE title LIKE '%'||#{keyword}||'%'
	   </when>
	   <when test="searchCondition !=null and searchCondition == 'W'.toString() ">
	   WHERE writer LIKE '%'||#{keyword}||'%'
	   </when>
	   <when test="searchCondition != null and searchCondition == 'TW'.toString() ">
	   WHERE (title LIKE '%'||#{keyword}||'%') OR (writer LIKE '%'||#{keyword}||'%') 
	   </when>
	   </choose>
  </select>
  
  
  <!-- paging select -->
  <select id="selectListWithPaging" parameterType="Search" resultType="Board">
	SELECT b.*
	FROM (SELECT rownum rn , a.*
	      FROM (SELECT *
	            FROM tbl_board 
	            <choose>
	             <when test="searchCondition !=null and searchCondition == 'T'.toString() ">
	              WHERE title LIKE '%'||#{keyword}||'%' 
	            </when>
	            <when test="searchCondition !=null and searchCondition == 'W'.toString() ">
	              WHERE writer LIKE '%'||#{keyword}||'%' 
	            </when>
	            <when test="searchCondition != null and searchCondition == 'TW'.toString() ">
	              WHERE (title LIKE '%'||#{keyword}||'%') OR (writer LIKE '%'||#{keyword}||'%') 
	            </when>
	            </choose>
	            ORDER BY board_no desc) a ) b 
	WHERE b.rn > (#{page} - 1) * 5 * 0
	<![CDATA[
	AND b.rn <= (#{page} * 50000)
	]]>
  </select>
  
  
  <select id="selectBoard" parameterType="int" resultType="Board">
  select board_no,
         title,
         writer,
         content,
         write_date,
         read_cont
   from tbl_board	
   where board_no = #{boardNo}
  </select>
  
  <select id="selectUserByCount" resultType="map">
	select writer AS "writer" , count(1) AS "cnt" , member_name AS "memberName" 
	from tbl_board b join tbl_member m 
	on b.writer = m.member_id 
	group by writer , member_name
  </select>
  
  
  
  <insert id = "insertBoard" parameterType="com.yedam.vo.BoardVO">
  insert into tbl_board(board_no , title , content , writer)
  values(board_seq.nextval , #{title} , #{content} , #{writer})
  </insert>
  
  <update id ="updateBoard" parameterType="com.yedam.vo.BoardVO">
  	update tbl_board
  	<set>
  	<if test="title != null">
  	 title = #{title},
  	</if> 
  	<if test="content != null">
	 content = #{content},
  	</if>
  	<if test="writer != null">
	 writer = #{writer},
  	</if>
  	</set>
  	 where board_no = #{boardNo}
  </update>
  
  <update id="updateReadCont" parameterType="Board">
  update tbl_board 
  set read_cont = read_cont + 1 
  where board_no = #{boardNo} 
  </update>
  
  
  
  <delete id="deleteBoard" parameterType="int">
  delete from tbl_board
  where board_no = #{boardNo}
  </delete>
  
  <!-- Event -->
  <!-- List -->
    <select id="selectEvent">
    select title as "title"
       ,TO_CHAR(start_date,'yyyy-MM-dd') as "start"
       ,TO_CHAR(end_date,'yyyy-MM-dd') as "end" 
     from tbl_events
    </select>
    
    <!-- Add -->
    <insert id="insertEvent" parameterType="map">
    insert into tbl_events(event_no , title,  start_date , end_date) 
	values(ev_seq.nextval, #{title}, #{start}, #{end})
    </insert>
    
    <!-- Remove -->
    <delete id="deleteEvent" parameterType="int">
    delete from tbl_events 
    where event_no = #{eventNo}
    </delete>
  
  
</mapper>